.spoc_container{
    #Container{
        width: 40%;
        border: solid 1px lightgrey;
       height: 400px;
       border-radius: 10px;
        padding-bottom: 20px;
    }
    $breakpoint-tablet: 775px;
    @media (max-width: $breakpoint-tablet) {
        .container{width: 100%; height: auto; }
    }
 


    

} 